.main-content{
    display:flex;
    flex-direction:row;
    min-height:calc(100vh - 60px);/* subtract navbar height*//* Correct spacing around minus should be necessary */
}

/* Responsive: Stack layout vertically when we see our app on mobile*/
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
